## 숫자형

In [1]:
age = 30
tall = 175.32

In [2]:
type(age)

int

In [3]:
type(tall)

float

## 논리형

In [4]:
b1 = True

In [5]:
b2 = False

In [6]:
print(b1)
print(b2)

True
False

In [7]:
True ^ True

False

In [8]:
num = 10

In [9]:
True ^ False # xor 연산자

True

In [10]:
True ^ True

False

In [11]:
False ^ False

False

In [12]:
not True

False

In [13]:
not (num == 0)

True

In [14]:
num != 0

True

In [15]:
num = -10

In [16]:
"음수" if num < 0 else "양수" #조건(num<0)이 True "음수"를 False "양수"를 반환

'음수'

## None

값 없음. null

In [17]:
name = None # 이름이 없다. 값을 지정하지 않으면 에러가 뜨기 때문

In [18]:
# 변수 = 값 (넣을 값이 없을 때는 None)

In [19]:
print(name)

None

In [20]:
name = "홍길동"

In [21]:
print(name)

홍길동

In [22]:
name = "홍길동"
bool(name)

True

In [23]:
name if bool(name) else "이름없음" # 이름이 있으면 반환, 없으면 "이름 없음" 반환

'홍길동'

In [24]:
name = "" # None != ""(빈 문자열)   ==> 의미적으로 다른다.
bool(name)

False

## 문자열(String)

In [25]:
name = "홍길동"

In [26]:
name = '홍길동'

In [27]:
txt = "I'm a boy"

In [28]:
print(txt)

I'm a boy

In [29]:
txt2 = "길동이가 말했다. \"안녕\""

In [30]:
print(txt2)

길동이가 말했다. "안녕"

In [31]:
txt = """안녕하세요 반갑습니다. 저는 윤우상입니다.
저는 의정부에 살고있으며
26살입니다."""

In [32]:
print(txt)

안녕하세요 반갑습니다. 저는 윤우상입니다.
저는 의정부에 살고있으며
26살입니다.

In [33]:
txt1 = "안녕하세요.\n반갑습니다.\n저는 윤우상입니다."  #이스케이프 문자 방법중 1갸 escape string method

In [34]:
print(txt)

안녕하세요 반갑습니다. 저는 윤우상입니다.
저는 의정부에 살고있으며
26살입니다.

In [35]:
txt1

'안녕하세요.\n반갑습니다.\n저는 윤우상입니다.'

In [36]:
# 문자열 + 문자열 => 두문자열을 합친다.
"abc" + "def" #"abcdef"

'abcdef'

In [37]:
name = "홍길동" #"이름 : 홍길동"
value = "이름: " + name
print(value)

이름: 홍길동

In [38]:
# str(값) => 값을 문자열로 변환
age = 20 # 나이 : 20
value = "나이: " + str(age)
print(value)

나이: 20

In [39]:
str(True) #True => "True"
print(True)

True

In [40]:
a = str(3.45) #3.45 => "3.45"
print(a)

3.45

In [41]:
value = "3.45" + str(10)
print(value)

3.4510

In [42]:
int(3.45)

3

In [43]:
a = float("3.45") + 10
print(a)

13.45

In [44]:
"-" * 3

'---'

In [45]:
a = "abc" * 10

In [46]:
print("이름 : 홍길동")
print("-" * 13)
print("주소 : 서울")

이름 : 홍길동
-------------
주소 : 서울

In [47]:
"he" in "hello"

True

In [48]:
"he" not in "hello"

False

In [49]:
"abe" not in "hello"

True

In [50]:
address = "서울시 강남구 서초동"
"서초" in address

True

In [51]:
"종로" in address

False

In [52]:
address = address.replace(address[:address.find(" ")], "의정부시")
print(address)

의정부시 강남구 서초동

In [53]:
len(address)

12

In [54]:
address.find(" ", 2)

4

In [55]:
address[:2]

'의정'

### 문자열 fomating

In [56]:
my_format = "이름 : {}, 나이 : {}, 주소 : {}"
f1 = my_format.format("윤우상", 26, "의정부시")
f2 = my_format.format("이영희", 25, "서울")
f3 = my_format.format("박명수", 40, "송파")
print(f1)
print(f2)
print(f3)

이름 : 윤우상, 나이 : 26, 주소 : 의정부시
이름 : 이영희, 나이 : 25, 주소 : 서울
이름 : 박명수, 나이 : 40, 주소 : 송파

In [57]:
"이름 : {}, 나이 : {}, 주소 : {}".format("윤우상", 26, "의정부시")

'이름 : 윤우상, 나이 : 26, 주소 : 의정부시'

In [58]:
name = "윤우상"
age = 26
address = "의정부"

In [59]:
my_format = f"이름 : {name}, 나이 : {age}, 주소 : {address}"
print(my_format)

이름 : 윤우상, 나이 : 26, 주소 : 의정부

In [60]:
print("이름 : %s, 나이 : %d, 키 : %.1f 주소 : %s, %d%%"%("홍길동", 32, 172.5, "의정부시", 50))

이름 : 홍길동, 나이 : 32, 키 : 172.5 주소 : 의정부시, 50%

In [61]:
#함수 사용
len("안녕하세요")

5

In [62]:
my_format = "이름 : {}, 나이 : {}, 주소 : {}"

In [63]:
my_format.format(1, 2, 3)

'이름 : 1, 나이 : 2, 주소 : 3'

In [64]:
# 함수  - > 메인 대상(처리 대상)이 파라미터
# 메소드 - > 메인 대상(처리 대상)이 변수
len(my_format)
my_format.format(1, 2, 3)
print(my_format)

이름 : {}, 나이 : {}, 주소 : {}

In [65]:
print(my_format)

이름 : {}, 나이 : {}, 주소 : {}

### String 주요 Method

In [66]:
value = "사과, 귤, 수박, 복숭아"
result = value.split(",")
print(result)

['사과', ' 귤', ' 수박', ' 복숭아']

In [67]:
value = "파이썬 자바 C, 루비"
result = value.split() #구분자의 기본은 공백이다.
result

['파이썬', '자바', 'C,', '루비']

In [68]:
value = "    abc    "
result = value.strip()
print(result)

abc

In [69]:
result = value.lstrip()
print(result)
print(len(result))

abc
7

In [70]:
result = value.rstrip()
print(result)
print(len(result))

    abc
7

In [71]:
customer_id = input("아이디 : ") #input() 문자열을 입력받는 함수.

아이디 : maha1234

In [72]:
customer_id = customer_id.strip()
print(customer_id)
print(len(customer_id))

maha1234
8

In [73]:
value = "xxx홍길동xxx"
result = value.strip("x")
print(result)

홍길동

In [74]:
value = "abcdef"
result = value.replace("abc", "")
print(result)

def

In [75]:
value = "a b c d    e"
result = value.replace(" ", "")
print(result)

abcde

In [76]:
value = "abcabc"
print(len(value)) # 전체 글자
print(value.count("abc")) # 지정 글자가 몇번 나오는지

6
2

In [77]:
value = "안녕하세요. 반갑습니다."
# print(value.index("하세요"))
print(value.index(".", 8))

12

In [78]:
print(value.find("반갑"))
print(value.find("abc"))

7
-1

In [79]:
value = "abcDEFgh"
print(value.upper())
print(value.lower())

ABCDEFGH
abcdefgh

In [80]:
value = "Student"
print(value.lower() == "student")

True

In [81]:
value = "abc  def"
print(value.startswith("abc"))
print(value.startswith("ab"))

True
True

In [82]:
print(value.endswith("def"))
print(value.endswith("f"))

True
True

In [83]:
file_name = "abc.com"
print(file_name.endswith("jpg"))

False

In [84]:
#1. 주민번호 "901211-1027213"의 앞 6자리만 조회해서 출력하시오.

In [103]:
num = "901211-1027213"
print(num[:6])

a = num.split("-")
print(a[0])

901211
901211

In [86]:
#2.  "안녕하세요" 를 10번 출력하시오.

In [87]:
hi = "\"안녕하세요\""
print(hi * 10)

"안녕하세요""안녕하세요""안녕하세요""안녕하세요""안녕하세요""안녕하세요""안녕하세요""안녕하세요""안녕하세요""안녕하세요"

In [88]:
#3.
name="TV"
price=300000
maker = "LG"
# 위 변수의 값을 다음과 같은 형태로 출력하시오.
#"제품명 : TV, 가격 : 300000, 제조사 : LG"

In [112]:
print(f"제품명 : {name}, 가격 : {price}, 제조사 : {maker}")
print("제품명 : {0}, 가격 : {1}, 제조사 : {2}".format(name, price, maker))
print("제품명 : %s, 가격 : %d, 제조사 : %s" % (name, price, maker))
print("제품명 ", name, "가격 ", price, "제조사 ", maker, sep=": ")

제품명 : TV, 가격 : 300000, 제조사 : LG
제품명 : TV, 가격 : 300000, 제조사 : LG
제품명 : TV, 가격 : 300000, 제조사 : LG
제품명 : TV: 가격 : 300000: 제조사 : LG

In [109]:
#4
fruits = "사과 복숭아 귤 배"
# 위 fruits에 "수박"이 있는지 확인하는 코드를 작성하시오.

In [116]:
result = "수박" in fruits
print(result)
print("수박" in fruits)
result = fruits.find("수박")
"없음" if result == -1 else "있음"

False
False

'없음'

In [92]:
#5.
str_value="aldkjaldjfalfjlksajfladlkaalalkdjfa"
# str_value에 a가 몇개 있는지 출력하시오.

In [93]:
print(str_value.count("a"))

9

In [94]:
#6.
# 다음 문자열에서 '-'를 제거 후 출력하세요.
tel = "010-7777-9999"

In [95]:
result = tel.replace("-","")
print(result)

01077779999

In [121]:
#7
# 다음 문자열 "Niceman" 에서 "man" 문자열만 출력하세요.
value = "Niceman"

In [123]:
print(value[4:])
s_idx = value.find("man")
print(value[s_idx:s_idx+3])

man
man

In [98]:
# 8
# 다음 문자열(URL)에서 "http://" 부분을 제거 후 출력하세요. :
url = "http://daum.net"

In [99]:
result = url.replace("http://","")
print(result)

daum.net

### 데이터 타입 변환 함수

In [126]:
# 정수로 변환 : int()
print(int(5.78), int(124.123))
print(int("100"))

5 124
100

In [128]:
# print(int("abc"))  # 정수형태의 문자열만 변환가능.

In [130]:
# print(int("50.123"))

In [137]:
# v = int(input("숫자 : ")) # input() 사용자로 부터 입력받는 함수 => string으로 반환.

In [140]:
v + 100

112

In [141]:
# 실수로 변환 : float()

In [143]:
print(float(100))

100.0

In [147]:
print(float("5.123"), float("50.12")) #float은 문자 형태의 실수 반환가능

5.123 50.12

In [148]:
type(str(10))

str

In [149]:
str(10) + "개"

'10개'

In [150]:
str(True)

'True'

# 주석 단축기 : control + /

In [156]:
n = 5
n_lst = [1, 3, 23, 5, 2]

maxmum = n_lst[0]
minmum = n_lst[0]

for i in range(n):
    if n_lst[i] == max(n_lst):
        maxmum = n_lst[i]
    elif n_lst[i] == min(n_lst):
        minmum = n_lst[i]

print(maxmum, minmum)

23 1