## 리스트
- 순서가 있는 자료구조
    - 순서 : index로 원소들이 관리된다. 추가한 순서대로 저장되어 관리된다.(append(), insert())

In [1]:
# 생성 = [v, v, v, v, v, v]
list1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2 = ["홍길동", "박영희", "이명수"]

In [2]:
print(list1)
print(list2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
['홍길동', '박영희', '이명수']

In [3]:
list3 = [100, 2.5, None, "abc", True, False, 100]
print(list3)

[100, 2.5, None, 'abc', True, False, 100]

In [4]:
print(list2[0])

홍길동

## indexing / slicing

In [5]:
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
print(list1[0])

0

In [7]:
print(list1[1])

1

In [8]:
print(list1[2])

2

In [9]:
print(list1[3])

3

In [10]:
list1[0] = 100
print(list1)

[100, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
list1[-1] = 300
print(list1)

[100, 1, 2, 3, 4, 5, 6, 7, 8, 9, 300]

In [12]:
# 원소의 개수 - len()
len(list1)

11

In [13]:
# list1[20] #없는 index 조회시 에러

In [14]:
print(list1)

[100, 1, 2, 3, 4, 5, 6, 7, 8, 9, 300]

In [15]:
print(list1[1:8]) # 1 ~ 7번 원소

[1, 2, 3, 4, 5, 6, 7]

In [16]:
print(list1[:5])

[100, 1, 2, 3, 4]

In [17]:
print(list1[5:])

[5, 6, 7, 8, 9, 300]

In [18]:
print(list1[1:8:3])

[1, 4, 7]

In [19]:
print(list1[-1:1:-1]) # 시작 : 큰 idx, 끝 : 작은 idx, 증감 : 음수 => 리버스

[300, 9, 8, 7, 6, 5, 4, 3, 2]

In [20]:
list1[0:3] = [100, 200, 300] # slicing으로 원소 들 변경 시 리스트로 값을 대입하기!
print(list1)

[100, 200, 300, 3, 4, 5, 6, 7, 8, 9, 300]

In [21]:
print(list1)

[100, 200, 300, 3, 4, 5, 6, 7, 8, 9, 300]

In [22]:
list1[0:3] = [0, 0, 0, 0, 0, 0, 0, 0]
print(list1)

[0, 0, 0, 0, 0, 0, 0, 0, 3, 4, 5, 6, 7, 8, 9, 300]

In [23]:
list1[:6] = [1]
print(list1)

[1, 0, 0, 3, 4, 5, 6, 7, 8, 9, 300]

In [24]:
list1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list1[:5] = []
list1

[5, 6, 7, 8, 9, 10]

In [25]:
del list1[0]
list1

[6, 7, 8, 9, 10]

In [26]:
# 리스트 안에 리스트(자료구조)를 원소로 추가.

In [27]:
list3 = [
    [1, 2, 3],
    [10, 20, 30],
    [40, 50, 60]
]

In [28]:
list3[0][2]

3

In [29]:
list3[1][2]

30

In [30]:
list3

[[1, 2, 3], [10, 20, 30], [40, 50, 60]]

In [31]:
list4 = list3
print(list4)

[[1, 2, 3], [10, 20, 30], [40, 50, 60]]

In [32]:
list4[1][2]

30

In [33]:
list1 = [0, 1, 3, 4, 5]
list1[-1::-1]

[5, 4, 3, 1, 0]

In [34]:
# 리스트 +_ 리스트 => 두 리스트를 합친 새로운 리스트를 생성
num_list1 = [1, 2, 3]
num_list2 = [10, 20, 30]
result = num_list1 + num_list2
result

[1, 2, 3, 10, 20, 30]

In [35]:
num_list1

[1, 2, 3]

In [36]:
num_list2

[10, 20, 30]

In [37]:
# 리스트 * 정수 : 리스트가 가진 원소들을 정수만큼 반복해서 새로운 리스트 생성.
result = num_list1 * 3
result

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [38]:
num_list1

[1, 2, 3]

In [39]:
# 리스트 대입 
a = [10, 20, 30]

In [40]:
v1 = a[0]
v2 = a[1]
v3 = a[2]

In [41]:
v1, v2, v3 = num_list1 #리스트의 원소수와 변수의 개수는 같아야한다.

In [42]:
print(v1,v2,v3)

1 2 3

In [43]:
num_list1

[1, 2, 3]

In [44]:
# in, not in 
c_list = ["서울", "부산", "인천", "광주", "대구"]

In [45]:
if "서울" in c_list:
    c = c_list[c_list.index("서울"):-3]
    print(c)

['서울', '부산']

In [46]:
"서울" not in c_list

False

### 주요 메소드

In [47]:
c_list.append("울산") #"울산"을 마지막에 추가

In [48]:
c_list

['서울', '부산', '인천', '광주', '대구', '울산']

In [49]:
c_list + ["성남", "대전", "구리"]

['서울', '부산', '인천', '광주', '대구', '울산', '성남', '대전', '구리']

In [50]:
c_list

['서울', '부산', '인천', '광주', '대구', '울산']

In [51]:
c_list.extend(["성남", "대전", "구리"])

In [52]:
c_list

['서울', '부산', '인천', '광주', '대구', '울산', '성남', '대전', '구리']

In [53]:
sorted(c_list) #c_list 를 정렬한 새로운 리스트를 반환. sorted() : 내장함수

['광주', '구리', '대구', '대전', '부산', '서울', '성남', '울산', '인천']

In [54]:
c_list

['서울', '부산', '인천', '광주', '대구', '울산', '성남', '대전', '구리']

In [55]:
c_list.sort() #원본까지느 바꾸는 것 메소드!!!!!!!
c_list

['광주', '구리', '대구', '대전', '부산', '서울', '성남', '울산', '인천']

In [56]:
c_list = ["서울", "광주", "부산"]
c_list

['서울', '광주', '부산']

In [57]:
c_list.extend(["강남", "의정부"]) 
c_list
# c_list = c_list + ["강남", "의정부"] == c_list.extend(["강남", "의정부"])
# c_list

['서울', '광주', '부산', '강남', '의정부']

In [58]:
c_list.sort()
c_list
# c_list = sorted(c_list) == c_list.sort()
# c_list

['강남', '광주', '부산', '서울', '의정부']

In [59]:
v = c_list.pop()
v

'의정부'

In [60]:
c_list = ["충주", "성남", "부산", "대전", "대구", "구리"]

In [61]:
c_list.extend(["서울", "서울", "서울"])
c_list

['충주', '성남', '부산', '대전', '대구', '구리', '서울', '서울', '서울']

In [62]:
len(c_list)

9

In [63]:
c_list.count("성남")

1

In [64]:
c_list.count("뉴욕")

0

In [65]:
c_list.clear()
c_list

[]

In [66]:
len(c_list)

0

# 튜플(Tuple)

In [67]:
t = (1, 2, 3)
type(t)

tuple

In [68]:
t1 = 1, 2, 3
type(t1)

tuple

In [69]:
# 튜플 대입
v1, v2, v3 = 1, 2, 3
type(v1)
type(v2)
type(v3)

int

In [70]:
1, 2, 3, 4

(1, 2, 3, 4)

In [71]:
t

(1, 2, 3)

In [72]:
t3 = (1,)
type(t3)

tuple

In [73]:
t4 = 1,
type(t4)

tuple

In [75]:
ㅣ = ['가', "나", "다"]
t5 = tuple(l)
t5

NameError: name 'l' is not defined

In [76]:
ㅣ

['가', '나', '다']

In [77]:
t6 = (10, 20, 30)
ㅣ6 = list(t6) # 튜플을 리스트로 변환

In [78]:
ㅣ6

[10, 20, 30]

In [79]:
t1 = (0,1,2,3,4,5,6,7,8,9)
t1

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [80]:
# 조회 : indexing, slicing
t1[0]

0

In [81]:
t1[-1]

9

In [82]:
len(t1)

10

In [83]:
t1[::3] # 튜플은 값을 변결 / 추가 / 삭제 할 수 없다.

(0, 3, 6, 9)

In [84]:
# 연산자
1 in t1

True

In [85]:
100 in t1

False

In [86]:
1 not in t1

False

In [87]:
100 not in t1

True

In [88]:
t2 = 100, 200, 300
t2

(100, 200, 300)

In [89]:
t3 = t1 + t2  # 두 튜플이 가진 원소들을 합친 새로운 튜플반환
t3

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 100, 200, 300)

In [90]:
t1

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [91]:
t2

(100, 200, 300)

In [92]:
t4 = t2 * 5 # 새로운 튜플을 반환

In [93]:
t2

(100, 200, 300)

In [94]:
t4.count(100)

5

In [95]:
t4.index(100)

0

In [96]:
x = 10
y = 100

In [97]:
tmp = y
y = x
x = tmp
print(x, y)

100 10

In [98]:
x, y = y, x
x, y

(10, 100)

## 딕셔러니(dictionary)
 - key - value 쌍으로 값들을 모아서 관리.
 - key 값은 중복을 허용하지 않는다. (이미 있는 key값으로 추가하면 변경이 된다.)
 - value는 중복된 값을 저장할 수 있다.

In [99]:
d1 = {"참외" : 10, "수박" : 20, "귤" : 50}
d2 = {"이름" : "홍길동", "나이" : 30, "주소" : "서울시 종로구"}
print(d1, d2)

{'참외': 10, '수박': 20, '귤': 50} {'이름': '홍길동', '나이': 30, '주소': '서울시 종로구'}

In [100]:
#조회 : index[]
d1["참외"]

10

In [101]:
d2["이름"], d2["주소"]

('홍길동', '서울시 종로구')

In [102]:
d2["몸무게"] = 80 # 없는 키에 값을 대입하면 추가
d2

{'이름': '홍길동', '나이': 30, '주소': '서울시 종로구', '몸무게': 80}

In [103]:
d2["이름"] = "이순신" #있는 키에 값을 대입하면 변경
d2

{'이름': '이순신', '나이': 30, '주소': '서울시 종로구', '몸무게': 80}

In [104]:
"이순신" in d2 # key in 딕셔너리 딕셔너리 안에 key가 있는지?

False

In [105]:
"이름" in d2

True

In [106]:
lst = [1, 4, 23, 5]
j = 0
maxmum = lst[0]

for i in range(len(lst)):
    if maxmum < lst[i]:
        j = i +1
        maxmum = lst[i]
        
print(maxmum, j, sep="\n")

23
3

In [107]:
lst = [2, 14, 19, 23, 5, 2, 24, 12, 15]
n = len(lst)
range(n)

range(0, 9)

## 주요 메소드

In [108]:
num = d1["참외"]
num

10

In [109]:
d1

{'참외': 10, '수박': 20, '귤': 50}

In [110]:
num1 = d1.pop("참외")
num1

10

In [111]:
d1

{'수박': 20, '귤': 50}

In [112]:
del d1["수박"]
d1

{'귤': 50}

In [113]:
del d1["복숭아"]

KeyError: '복숭아'

In [114]:
d2["키"]

KeyError: '키'

In [115]:
d2.get("나이")

30

In [116]:
v = d2.get("키") # 없는 키로 조회하면 None을 반환
print(v)

None

In [117]:
v = d2.get("키", "-1") # 없으면 -1(기본값)을 반환
print(v)

-1

In [118]:
v = d2.get("이름", "이름없음")
v

'이순신'

In [119]:
k = d2.keys() # 키값들을 모아서 반환
print(k)

dict_keys(['이름', '나이', '주소', '몸무게'])

In [120]:
v = d2.values() # 값들만 모아서 반환
print(v)

dict_values(['이순신', 30, '서울시 종로구', 80])

In [121]:
i = d2.items() # 키와 값들을 모아서 반환
print(i)

dict_items([('이름', '이순신'), ('나이', 30), ('주소', '서울시 종로구'), ('몸무게', 80)])

### dict() : 딕셔너리를 생성하는 함수.
 {key : value, key : value}
 dict(key = value, key = value, key = value)

In [122]:
d3 = dict(귤=10, 사과=20, 수박=50) #key는 변수형태로 문자열 XXXXX
type(d3)

dict

In [123]:
d3

{'귤': 10, '사과': 20, '수박': 50}

In [124]:
d3["귤"]

10

## Set(집합)

In [125]:
s1 = {1, 2, 3}
s1

{1, 2, 3}

In [126]:
s2 = {10, 5, 20, 7}
s2

{5, 7, 10, 20}

In [127]:
s3 = {1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4} #중복을 허용하지 않음
s3

{1, 2, 3, 4}

In [128]:
for v in s3:
    print(v)

1
2
3
4

In [129]:
l = [3, 2, 1, 2, 3, 1, 3]
l

[3, 2, 1, 2, 3, 1, 3]

In [130]:
s4 = set(l)
s4

{1, 2, 3}

In [131]:
l2 = list(s4)
l2

[1, 2, 3]

In [132]:
# list(), tuple(), set() : 다른 자료구조를 자신의 타입으로 변환.

In [133]:
set((2, 2, 2, 3, 3))

{2, 3}

In [134]:
d3

{'귤': 10, '사과': 20, '수박': 50}

In [135]:
set(d3)

{'귤', '사과', '수박'}

In [140]:
# 값을 추가
s1.add(10)
s1

{1, 2, 3, 10}

In [141]:
s1.add(-10)
s1

{-10, 1, 2, 3, 10}

In [142]:
s1.add(10)
s1

{-10, 1, 2, 3, 10}

In [143]:
l = [100, 200, 300, 100, 10, 10]

In [145]:
s1.update(l) # 한번에 여러개의 값들을 추가. update(자료구조(list, set, dictionary, tuple))
s1

{-10, 1, 2, 3, 10, 100, 200, 300}

In [147]:
s1.remove(100)
s1

{-10, 1, 2, 3, 10, 200, 300}

In [156]:
if 10000 in s1:
    s1.remove(10000) # 없는 값을 삭제할 때는 KeyError가 발생!
else:
    print(s1)

{1, 2, 3, 200, 10, 300, -10}

In [158]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}

In [159]:
# 합집합
s3 = s1 | s2
s3

{1, 2, 3, 4, 5}

In [162]:
s2

{3, 4, 5}

In [163]:
s4 = s1.union(s2) 
s4

{1, 2, 3, 4, 5}

In [164]:
s2

{3, 4, 5}

In [165]:
# 교집합
s5 = s1 & s2
s5

{3}

In [167]:
s6 = s1.intersection(s2)
s6

{3}

In [168]:
# 차집합
s7 = s1 - s2
s7

{1, 2}

In [169]:
s2 -s1

{4, 5}

In [171]:
s8 = s1.difference(s2) # 차집합 같은 경우는 어떤 set을 기준으로 하냐에 따라 값이 달라짐
s8

{1, 2}

### 자료구조 변환함수
- list(타입을 변경할 자료구조) : 리스트로 변환
- tuple(타입을 변경할 자료구조) : 튜플로 변환
- set(타입을 변경할 자료구조) : 세트로 변환
- 변경할 자료구조가 딕셔너리인 경유 : Key값(value XXX)을 원소로 가진다.
- 딕셔너리로 변환하는 함수는 없음.

In [172]:
list({1,2,3,4})

[1, 2, 3, 4]

In [173]:
tuple([1,2,3,4,5])

(1, 2, 3, 4, 5)

In [174]:
tuple({"a":1, "b":2})

('a', 'b')

In [175]:
set([1,1,2,3,4])

{1, 2, 3, 4}

In [176]:
dict(name="홍길동", age=20) #{"name":"홍길동", "age":20}

{'name': '홍길동', 'age': 20}

In [186]:
sorted(l)

[10, 10, 100, 100, 200, 300]

In [184]:
l.sort()

In [218]:
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85]
# 위는 학생번호 1번 ~ 10번까지 10명의 시험 점수이다. (문제1 ~ 7)

In [219]:
#(1)  7번의 점수를 출력하세요
jumsu[6]

80

In [220]:
#(2)  1번부터 5번까지의 점수를 출력하세요.
jumsu[:5]

[100, 90, 100, 80, 70]

In [221]:
#(3)  4, 5, 6, 7번의 점수를 출력하세요.
jumsu[3:7]

[80, 70, 100, 80]

In [222]:
#(4) 짝수번째 점수를 출력하세요.
jumsu[1::2]

[90, 80, 100, 90, 85]

In [223]:
#(5) 홀수번째 점수를 출력하세요.
jumsu[::2]

[100, 100, 70, 80, 95]

In [224]:
#(6) 9번의 점수를 20으로 변경하고 전체 출력하세요.
jumsu[8] = 20
jumsu

[100, 90, 100, 80, 70, 100, 80, 90, 20, 85]

In [195]:
#(7) 중복된 점수는 제거하고 하나씩만 나오도록 출력하세요.

In [226]:
set(jumsu)

{20, 70, 80, 85, 90, 100}

In [235]:
#(8) 다음 리스트에 마지막 원소로 "사과", "귤"을 추가하세요.
fruits = ["복숭아", "수박", "딸기"]
fruits.extend(["사과", "귤"])
# fruits.append("사과")
# fruits.append("귤")
fruits

['복숭아', '수박', '딸기', '사과', '귤']

In [291]:
#(9)본인의 이름, 나이, email주소, 취미, 결혼유무를 사전(딕셔너리)으로 생성.
# 취미는 2개 이상의 값을 넣는다..
my_info = {
    "이름" : "홍길동",
    "나이" : 20,
    "email" : "naver.com",
    "취미" : ["독서", "영화감상"],
    "결혼" : True,
}
# dict1 = dict(이름="홍길동", 나이=30, email="naver.com", 취미=["축구", "독서"], 결혼=False)

In [292]:
print(my_info)

{'이름': '홍길동', '나이': 20, 'email': 'naver.com', '취미': ['독서', '영화감상'], '결혼': True}

In [293]:
#(10) 위 딕셔너리에서 이름과 email주소를 조회해서 출력하세요.
print(my_info["이름"])
print(my_info["email"])

홍길동
naver.com

In [ ]:
#(11) 위 딕셔너리에서 취미중 두번째 취미를 조회해서 출력하세요.
print(my_info["취미"][1])

In [297]:
#(12) 위 딕셔너리에 몸무게와 키 항목을 추가하세요.
my_info["몸무게"] = 55
my_info["키"] = 172.5
print(my_info)

{'이름': '홍길동', '나이': 20, 'email': 'naver.com', '취미': ['독서', '영화감상'], '결혼': True, '몸무게': 55, '키': 172.5}

In [311]:
a = (1, 2, 3) # 튜플은 원소를 변경이 안된다.
type(a[0])

int

In [312]:
a = (100, 200)
type(a)

tuple

In [319]:
a = int(input())
b = int(input())
c = int(input())

total = str(a * b * c)

for i in str(range(10)):
    str_i = i
    num_cnt = total.count(str_i)
    print(num_cnt)

123
123
123
0
0
0
0
0
0
1
0
0
1
1
0