In [1]:
bool([]) # 자료구조 : 원소가 0개 이면 False, 원소가 1개 이상이면 True

False

In [2]:
num = 10 #만약에 num이 0이면 "0입니다."출력, 아니면 아무것도 출력 안함.

if num == 0:
    print("0입니다.")
    print("영입니다.")
    print("없습니다.")

print("종료")

종료

In [3]:
num = 10
# if 조건 :  -조건 : bool 타입이 들어와야 하는 곳. 다른 타입의 값이 들어오면 bool(논리형)으로 알아서 변환됨.
if not num == 0:
    print("0입니다.")
    print("영입니다.")
    print("없습니다.")

print("종료")

0입니다.
영입니다.
없습니다.
종료

In [4]:
# 만약에 num이 0이면 "0입니다."를 출력하고 아니면 "0이 아닙니다." 출력
num = 12

if num == 0:
    print("0입니다.")
    print("영입니다.")
else:
    print("0이 아닙니다.")
    print("값 :", num)

print("종료")

0이 아닙니다.
값 : 12
종료

In [5]:
# tab : 자동완성, shift + tap : 설명

In [6]:
num = -10 # num 이 0보다 크면 "양수" 출력, 0이면 "0"을 출력, 0 보다 작으면 "음수" 출력
if num > 0:
    print("양수")
elif num == 0:
    print("0")
elif num < 0:
    print("음수")

음수

In [7]:
num = 0 # num 이 0보다 크면 "양수" 출력, 0이면 "0"을 출력, 0 보다 작으면 "음수" 출력
if num > 0:
    print("양수")
elif num == 0:
    print("0")
else:
    print("음수")

0

In [8]:
# "서울" : 서울 특별시, 
# 인천, 부산, 대구, 광주, 대전, 울산 : "xx광역시", 나머지 : "xxx는 일반시"
# city = input("도시명 : ")

In [9]:
# city = input("도시명 : ").strip()

# if city == "서울":
#     print("서울 특별시")
# elif city in ["인천", "부산", "대구", "광주", "대전", "울산"]:
#     print("{0}광역시".format(city))
# else:
#     print("{0}는 일반시".format(city))

# 반복문
- whlie 문
    - 조건이 True인 동안 반복
- for in 문
    - 문자열, 자료구조(리스트, 튜플, 셋, 딕셔너리)의 원소들을 하나씩 모두 조회할 때 사용. (Iterable type)

##  while 문

- 대입 연산자
    - 변수 = 값
    - 변수 연산자 = 값
        - a += 10 :: a = a + 10
        - a -= 10 :: a= a - 10
        - a *= 10 :: a = a * 10

In [10]:
cnt = 0 # 초기식 - 조건에서 사용되면서 조건을 False로 바꿀 때 사용할 값. 이 값은 반복구문에서 사용할 수 있다.
while cnt < 10: # 조건식
    print("안녕하세요.")
#   cnt = cnt + 1
    cnt += 1 # 증감식
    
print("종료")

안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
종료

In [11]:
# 1 ~ 100 중에서 5의 배수만 출력
cnt = 1
five_cnt = 0
while cnt <= 100:
    if cnt % 5 == 0:
        five_cnt +=1
        print(cnt)
    cnt += 1

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

## for in 문
```python
for 변수 in iterable:
    반복할 구문
```

In [12]:
fruits = ["사과", "복숭아", "귤", "수박", "배", "자두"]

index = 0 # 리스트의 index
length = len(fruits)

while index < length:
    fruit = fruits[index]
    print(fruit)
    index+=1

사과
복숭아
귤
수박
배
자두

In [13]:
 for fruit in fruits:
    print(fruit)

사과
복숭아
귤
수박
배
자두

In [14]:
for num in (1,2,3,4,5):
    print(num)

1
2
3
4
5

In [15]:
for num in {10, 20, 30, 1}:
    print(num)

1
10
20
30

In [16]:
d = {
    "a":10,
    "b":20,
    "c":30,
}
for key in d: # 딕셔너리는 key값을 반환해준다.
    print(key)

a
b
c

In [17]:
for key in d: # 딕셔너리 같은 경우는 반복하면 key값이 반환된다.
    print(d[key])

10
20
30

In [18]:
# key가 "b"인 item의 value를 출력
for v in d.items(): # (key, value)
    print(v)
#     if v[0] == "b":
#         print(v[1])

('a', 10)
('b', 20)
('c', 30)

In [19]:
for key, value in d.items():   # 튜플 대입 활용!!!! => v1, v2 = ("a", 10)
    print(key, value)
#     if key == "b":
#         print(value)

a 10
b 20
c 30

In [20]:
# 튜플 대입
a, b = 10, 20
print(a, b)

10 20

In [21]:
lst = [
    [1,2,3],
    [10,20,30],
    [100,200,300],
]

In [22]:
len(lst)

3

In [23]:
for v1, v2, v3 in lst:
    print(v1, v2, v3, sep="-")

1-2-3
10-20-30
100-200-300

In [24]:
for l in lst:
    for v in l:
        print(v, end=" ")
    print(v)

1 2 3 3
10 20 30 30
100 200 300 300

In [25]:
for s in "abcdef가나다라":
    print(s)

a
b
c
d
e
f
가
나
다
라

In [26]:
# print안에서의 sep= 이친구는 중간중간, end= 이친구는 마지막에!!
print("a", "b","c","d", sep="/", end=" ")

a/b/c/d

In [27]:
while True:
    print(1)
    break

1

In [28]:
# while True:
#     a = input("입력 :")
#     print(a)
#     if a == "종료":
#         break

In [29]:
cnt = 1
while True:
    if cnt % 5 == 0:
        print(cnt)
    cnt += 1
    
    if cnt > 50:
        break #반복문 끝내라.

5
10
15
20
25
30
35
40
45
50

In [30]:
# while True:
#     print(1)
#     if 멈출조건:
#         break

In [31]:
cnt = 1
while cnt <= 50:
    if cnt % 5 != 0: # 5의 배수가 아니면
        cnt += 1
        continue
    print(cnt)
    cnt += 1

5
10
15
20
25
30
35
40
45
50

In [32]:
for i in range(1, 11):
    if i%3 != 0:
        continue
    print(i)

3
6
9

In [33]:
# Ex) 반복 100
# 10 실행대상, 90은 ㄴㄴ

##  for in 문 관련 내장 함수
- range()
- enumerate()
- zip()

###  range([시작정수], 종료정수, [증감정수]) = [] 생략가능

In [34]:
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [35]:
# list(), tuple(), set() iterable타입의 객체를 list, tuple, set 으로 변환

In [36]:
#list = range(1,10)

In [37]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [38]:
tu = tuple(range(10))
tu

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [39]:
s = set(range(5))
s

{0, 1, 2, 3, 4}

In [40]:
# 증감치가 음수일 경우 시작값 > 종료값
list(range(10, -10, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [41]:
# 안녕 10 번 반복 사용
# 변수를 `_` : 반복문내에서 사용하지 않겠다.
for _ in range(4):
    print(_, "안녕")

0 안녕
1 안녕
2 안녕
3 안녕

###  enumerate(iterable [, start=시작값]) => []는 생략가능

In [42]:
str_list = ["가", "나", "다", "라", "마"]
for s in enumerate(str_list):
    print(s)

(0, '가')
(1, '나')
(2, '다')
(3, '라')
(4, '마')

In [43]:
for idx, s in enumerate(str_list):
    if idx == 3:
        print(idx, s)

3 라

In [44]:
for idx, s in enumerate(str_list, start=1):
    print(idx, s)

1 가
2 나
3 다
4 라
5 마

###  zip(iterable, iterable [, ......})

In [45]:
a = [1, 2, 3]
b = [10, 20, 30]
c = 100, 200, 300,
d = {'가', '나', '다'}

In [46]:
for v in zip(a, b, c, d):
    print(v)

(1, 10, 100, '다')
(2, 20, 200, '나')
(3, 30, 300, '가')

In [47]:
names = ['홍길동', '이순신', '박영희', '윤우상']
ages = [20, 30, 40, 25]
talls = [170, 180, 190, 172]

In [48]:
for info in zip(names, ages, talls):
    print(info)

('홍길동', 20, 170)
('이순신', 30, 180)
('박영희', 40, 190)
('윤우상', 25, 172)

In [49]:
for name, age, tall in zip(names, ages, talls):
    print(name, age, tall)

홍길동 20 170
이순신 30 180
박영희 40 190
윤우상 25 172

##  comprehension

In [50]:
lst = [1, 2, 3, 4, 5, 6]
# lst의 원소들에 10을 더한 값들을 원소로 가지는 리스트를 생성.

In [51]:
lst2 = []
for num in lst:
    lst2.append(num + 10)
lst2

[11, 12, 13, 14, 15, 16]

In [52]:
result = [num+10 for num in lst] # 최종적으로 만든것이 list이기 때문에 컴프리헨션

In [53]:
print(lst2)

[11, 12, 13, 14, 15, 16]

In [54]:
result2 = {num+10 for num in lst} # 최종적으로 만든것이 set이기 때문에 컴프리헨션
result2, type(result2)

({11, 12, 13, 14, 15, 16}, set)

In [55]:
lst = [1, 2, 3, 4, 5, 6]

In [56]:
result2 = {num:'가' for num in lst} #{k:v, k:v} # 최종적으로 만든것이 set이기 때문에 컴프리헨션
result2, type(result2)

({1: '가', 2: '가', 3: '가', 4: '가', 5: '가', 6: '가'}, dict)

In [57]:
lst2

[11, 12, 13, 14, 15, 16]

In [58]:
for num in enumerate(lst2):
    print(num)

(0, 11)
(1, 12)
(2, 13)
(3, 14)
(4, 15)
(5, 16)

In [59]:
result3 = {idx:num for idx, num in enumerate(lst2)}
result3

{0: 11, 1: 12, 2: 13, 3: 14, 4: 15, 5: 16}

In [60]:
dic = {}
for idx, num in enumerate(lst2):
    dic[idx] = num

In [61]:
dic

{0: 11, 1: 12, 2: 13, 3: 14, 4: 15, 5: 16}

In [62]:
num_list = list(range(100))

In [63]:
# num_list의 원소들 중에 1-의 배수만 가지는 리스트를 생성
result = []
for num in num_list:
    if num%10 == 0:
        result.append(num)
result

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [64]:
result2 = [num for num in num_list if num%10 == 0]
result2

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [65]:
# [변수 for 변수 in iterable [for in 또는 if 문] [for in 또는 if 문] ...] posible 이 이상하면 보기가 힘듬

#  튜두

In [ ]:
#(1) 다음 점수 구간에 맞게 학점을 출력하세요.
# 91 ~ 100 : A학점
# 81 ~ 90 :  B학점
# 71 ~ 80 :  C학점
# 61 ~ 70 :  D학점
# 60이하   :  F학점
score = int(input())
if score > 90:
    print("A학점")
elif score > 80:
    print("B학점")
elif score > 70:
    print("C학점")
elif score > 60:
    print("D학점")
else:
    print("F학점")

In [82]:
#(2) 아래 리스트의 평균을 구하시오.
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85]
for _ in jumsu:
    avg = sum(jumsu) / len(jumsu)
print(avg)    

# total = 0
# for i in jumsu:
#     total+=i
# print(total / len(jumsu))

89.0

In [83]:
#(3) 위 jumsu리스트에서 평균점수이상은 pass, 미만은 fail을 index번호와 함께 출력하시오. (ex: 0-pass, 1-pass, 2-fail)
#################################
# result_lst = []
# for jumsu_idx in jumsu:
#     if jumsu_idx > avg:
#         jumsu_idx = "pass"
#         result_lst.append(jumsu_idx)
#     else:
#         jumsu_idx = "fail"
#         result_lst.append(jumsu_idx)
# lst = [idx, value for idx, value in enumerate(result_lst)]
# print(lst)
#################################
for idx, num in enumerate(jumsu):
    if num >= avg:
        print("{0}-pass".format(idx))
    else:
        print("{0}-fail".format(idx))
#################################
# for i in range(len(jumsu)):
#     if jumsu[i] >= avg:
#         print("{0}-pass".format(i)) 
#     else:
#         jumsu[i] = "fail"
#     print("{0}-fail".format(i))

0-pass
1-pass
2-pass
3-fail
4-fail
5-pass
6-fail
7-pass
8-pass
9-fail

In [84]:
		
#(4) 아래 리스트 값들 중 최대값을 조회해 출력
jumsu = [60, 90, 80, 80, 70, 55, 80, 90, 95, 85]
# max(jumsu)
maxmum = jumsu[0]
for i in jumsu:
    if maxmum < i:
        maxmum = i
print(maxmum)

95

In [85]:
#(5) 다음 리스트 중에서 '정' 글자를 제외하고 출력하세요.
str_list = ["갑", "을", "병", "정"]
for i in str_list:
    if i != "정":
        print(i)
print(str_list[:3])
str_list.pop(3)
print(str_list)

갑
을
병
['갑', '을', '병']
['갑', '을', '병']

In [86]:
#(6) 사용자로부터 정수를 입력받아 그 단의 구구단을 출력하시오.
# ex) 단을 입력하시오 : 2
# 2 x 1 = 2
# 2 x 2 = 4
#..
# 2 x 9 = 18
#컴프리헨션
# num = int(input("단을 입력하시오 :"))
# for i in range(1, 10):
#     print("{0} x {1} = {2}".format(num, i, num*i))
#     print("%d x %d = %d" % (num, i, num*i))

In [87]:
# 구구단 표
for num in range(1, 10):
    for dan in range(2, 10):
        print("{0} x {1} = {2}".format(dan, num, dan*num), end="\t")
    print()

2 x 1 = 2	3 x 1 = 3	4 x 1 = 4	5 x 1 = 5	6 x 1 = 6	7 x 1 = 7	8 x 1 = 8	9 x 1 = 9
2 x 2 = 4	3 x 2 = 6	4 x 2 = 8	5 x 2 = 10	6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18
2 x 3 = 6	3 x 3 = 9	4 x 3 = 12	5 x 3 = 15	6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27
2 x 4 = 8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20	6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25	6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30	6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35	6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40	6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45	6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81

In [88]:
# comprehension

In [89]:
#(7) 다음 리스트가 가진 값에 두배(* 2)를 가지는 새로운 리스트를 만드시오. (리스트 컴프리헨션 이용)
lst = [10, 30, 70, 5, 120, 700, 1, 35]
result = [i * 2 for i in lst] #################mapping 한다라고 말한다.#########################
print(result)

[20, 60, 140, 10, 240, 1400, 2, 70]

In [90]:
#(8) 다음 리스트가 가진 값에 10배의 값을 가지는 값을 (원래값, 10배값) 의 튜플묶음으로 가지는 리스트를 만드시오 (리스트 컴프리헨션 이용)
# Ex) [(10,100), (30,300), .., (35, 350)]
lst = [10, 30, 70, 5, 5, 120, 700, 1, 35, 35]
result = [(i, i*10) for i in lst]
result

[(10, 100),
 (30, 300),
 (70, 700),
 (5, 50),
 (5, 50),
 (120, 1200),
 (700, 7000),
 (1, 10),
 (35, 350),
 (35, 350)]

In [91]:
#(9) 다음 리스트가 가진 값들 중 3의 배수만 가지는 리스트를 만드시오. (리스트 컴프리헨션 이용)
lst2 = [ 3, 20, 33, 21, 33, 8, 11, 10, 7, 17, 60, 120, 2]
result = [i for i in lst2 if i%3 == 0] ################filtering#############
result

[3, 33, 21, 33, 60, 120]

In [92]:
#(10) 다음 파일이름들을 담은 리스트에서 확장자가 exe인 파일만 골라서 새로운 리스트에 담으시오.(string의 endswith()함수 이용)
file_name=["test.txt", "a.exe", "jupyter.bat", "function.exe", "b.exe", "cat.jpg", "dog.png", "run.exe", "i.dll"]
[i for i in file_name if i.endswith("exe")]
[i for i in file_name if "exe" in i]

['a.exe', 'function.exe', 'b.exe', 'run.exe']

In [93]:
#(11) 다음 중 10글자 이상인 파일명(확장자포함)만 가지는 리스트를 만드시오.
file_name=["mystroy.txt", "a.exe", "jupyter.bat", "function.exe", "b.exe", "cat.jpg", "dog.png", "run.exe", "i.dll"]
result = [file_name_val for file_name_val in file_name if len(file_name_val) >= 10]
result

['mystroy.txt', 'jupyter.bat', 'function.exe']

In [94]:
result = {file_name_val:len(file_name_val) for file_name_val in file_name if len(file_name_val) >= 10}

result

{'mystroy.txt': 11, 'jupyter.bat': 11, 'function.exe': 12}

In [95]:
# 예측할 숫자를 생성
# import random
# num = random.randint(1,100) # 1 ~ 100(포함) 사이의 정수를 실행시마다 랜덤하게 반환.
# print(num)

## 플로우
1. 예측 숫자 설정
2. 시도횟수를 저장할 변수 선언
3. input() 값을 받는다.
4. 입력받은 숫자와 예측숫자를 비교

    4-1 같으면 몇번째 성공했는지 출력하고 종료
    
    4-2 입력값이 더 큰 경우 '작은숫자를 입력하세여' 출력하고 다시 입력
    
    4-3 입력값이 더 큰 경우 '더 큰숫자를 입력하세여' 출력하고 다시 입력
    
5.  맞추때 4번 까지 반복

In [104]:
import random
answer = random.randint(1, 100)
cnt = 1

max_cnt = 3
print(answer)
while True:
    n = int(input("숫자을 입력하세요 : "))
    if n == answer:
        print("{0}번째 시도".format(cnt))
        print("정답입니다. 축하합니다.")
        break
    elif n > answer:
        print("{0}번째 시도".format(cnt))
        print("틀렸습니다. {0} 보다 작습니다.".format(n))
    elif n < answer:
        print("{0}번째 시도".format(cnt))
        print("틀렸습니다.{0} 보다 큽니다.".format(n))
        
    if max_cnt == cnt:
        print("="*10)
        print("실패했습니다.")
        print("="*10)
        break
    cnt+=1
    print("=" * 20)

45
숫자을 입력하세요 : 10
1번째 시도
틀렸습니다.10 보다 큽니다.
====================
숫자을 입력하세요 : 60
2번째 시도
틀렸습니다. 60 보다 작습니다.
====================
숫자을 입력하세요 : 50
3번째 시도
틀렸습니다. 50 보다 작습니다.
==========
실패했습니다.
==========

In [72]:
import random

ans = random.randint(1, 100)
high = 100
low = 1
cnt = 0

while True:
    auto_ans = random.randint(low, high)
    if ans > auto_ans:
        cnt+=1
        low = auto_ans
        print(ans)
        print(auto_ans, high, low)
        print("더 큰 값을 입력하세요")
    elif ans < auto_ans:
        cnt+=1
        high = auto_ans
        print(ans)
        print(auto_ans, high, low)
        print("더 작은 값을 입력하세요")
    else:
        cnt+=1
        print("="*20)
        print(ans)
        print(auto_ans, low, high)
        print('{0}번만에 정답을 맞쳤습니다.'.format(cnt))
        print("="*20)
        break

25
100 99 1
더 작은 값을 입력하세요
25
96 95 1
더 작은 값을 입력하세요
25
6 95 5
더 큰 값을 입력하세요
25
34 33 5
더 작은 값을 입력하세요
25
8 33 7
더 큰 값을 입력하세요
25
31 30 7
더 작은 값을 입력하세요
25
15 30 14
더 큰 값을 입력하세요
25
19 30 18
더 큰 값을 입력하세요
25
21 30 20
더 큰 값을 입력하세요
25
24 30 23
더 큰 값을 입력하세요
25
24 30 23
더 큰 값을 입력하세요
25
23 30 22
더 큰 값을 입력하세요
25
22 30 21
더 큰 값을 입력하세요
25
21 30 20
더 큰 값을 입력하세요
====================
25
25 30 20
15번만에 정답을 맞쳤습니다.
====================

In [5]:
lst = ['a', 'b', 'c', 'b']

dic = {key:val for val, key in enumerate(lst, 48)}
print(dic)

{'a': 48, 'b': 51, 'c': 50}

In [6]:
l = [
    (1, 2, 3),
    (10, 20, 30), 
    (100, 200, 300, 400)
]

In [8]:
k = []
for i in l:
    for j in i:
        k.append(j)

In [11]:
print(k)

[1, 2, 3, 10, 20, 30, 100, 200, 300, 400]

In [12]:
k1 = [j for i in l for j in i]
print(k1)

[1, 2, 3, 10, 20, 30, 100, 200, 300, 400]

In [13]:
[j for i in l for j in i if j%3==0]

[3, 30, 300]

In [4]:
def trans_dict(lst, n):
    dict = {key:val for val, key in enumerate(lst, n)}
    return dict

In [15]:
num_lst = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
uper_lst = list('ABCDEFGHIJLLMNOPQRSTUVWXYZ')
lower_lst = list('abcdefghigklmnopqrstuvwxyz')

num_dict = trans_dict(num_lst, 48)
uper_dict = trans_dict(uper_lst, 75)
lower_dict = {key:val for val, key in enumerate(lower_lst, 95)}
print(num_dict)
print()
print(uper_dict)
print()
print(lower_dict)

{0: 48, 1: 49, 2: 50, 3: 51, 4: 52, 5: 53, 6: 54, 7: 55, 8: 56, 9: 57}

{'A': 75, 'B': 76, 'C': 77, 'D': 78, 'E': 79, 'F': 80, 'G': 81, 'H': 82, 'I': 83, 'J': 84, 'L': 86, 'M': 87, 'N': 88, 'O': 89, 'P': 90, 'Q': 91, 'R': 92, 'S': 93, 'T': 94, 'U': 95, 'V': 96, 'W': 97, 'X': 98, 'Y': 99, 'Z': 100}

{'a': 95, 'b': 96, 'c': 97, 'd': 98, 'e': 99, 'f': 100, 'g': 104, 'h': 102, 'i': 103, 'k': 105, 'l': 106, 'm': 107, 'n': 108, 'o': 109, 'p': 110, 'q': 111, 'r': 112, 's': 113, 't': 114, 'u': 115, 'v': 116, 'w': 117, 'x': 118, 'y': 119, 'z': 120}