# 함수(function)
```python
def 함수이름([변수, 변수, ....]): # 변수 : 파라미터, 매개변수
    실행문
    실행문
    [return 반환값] # return이 실행 안되면 None이 반환.
```

- 함수이름 : 관례적으로 소문자만 사용, 단어와 단어 사이는 '-' 로 연결
    (보통 동사로 시작을 한다.)
    - 어떤 값을 제공하는 함수 : get_제공하는 값
         - ex) get_name() => 이름 제공
         - ex) get_age() => 나이 제공
         
    - 어떤 값을 변경하는 함수 : set_변경할 값
         - ex) set_name() => 이름 변경
         - ex) set_age() => 나이 변경
         
    - 어떤 값을 제거(삭제) 함수 : remove_삭제할 값
         - ex) remove_name() => 이름 삭제
         - ex) remove_age() => 나이 삭제

In [18]:
# 함수 정의 - 코드 작성 + 실행 (메모리에 올려서 호출 할 수있게 해준다.)
def say_hello(): # 선언부
    # 구현부
    print('안녕하세요')
    print('hello')

In [19]:
#호출 = 함수이름([전달할 값])
say_hello()

안녕하세요
hello

In [20]:
def say_hello2(name): #name : 파라미터
    print('{0}님 안녕하세요'.format(name))
    print('{0}, Hello'.format(name))
    pass

In [21]:
say_hello2('홍길동')

홍길동님 안녕하세요
홍길동, Hello

In [22]:
say_hello2('john')

john님 안녕하세요
john, Hello

In [29]:
def say_hello3(name):
    greeting = '{0}님 안녕하세요. {0}. Hello'.format(name)
    return greeting # 반환값(return value) 처리결과로서 호출한 곳에 전달.

In [31]:
g = say_hello3('이순신')
print(g)
print(g*3)

이순신님 안녕하세요. 이순신. Hello
이순신님 안녕하세요. 이순신. Hello이순신님 안녕하세요. 이순신. Hello이순신님 안녕하세요. 이순신. Hello

In [34]:
r = say_hello2('홍길동')

홍길동님 안녕하세요
홍길동, Hello

In [35]:
print(r)

None

In [37]:
i = int('100')
print(i)# + 20)

100

In [38]:
j = print("abc")
print(j)

abc
None

In [133]:
# 두개의 숫자를 받아 사칙연산 결과를 반환.
def calculate(num1, num2):
    a = num1 + num2
    b = num1 - num2
    c = num1 * num2
    d = None
#     if num2 != 0:
    if num2:
        d = num1 / num2
#     return [a, b, c, d] ###### 리스트로 리턴 
    return a, b, c, d ######### 튜플로 리턴 "()"를 생략 => 일반적
# return 값. 리턴 값 : 반드시 하나만 가능

In [134]:
result = calculate(10, 5)
print(result)

(15, 5, 50, 2.0)

In [135]:
a, b, c, d = calculate(10, 5)
print('덧셈: {0}, 뺄셈: {1}, 곱셉: {2}, 나눗셈: {3}'.format(a, b, c, d))

덧셈: 15, 뺄셈: 5, 곱셉: 50, 나눗셈: 2.0

In [136]:
result = calculate(10, 0)
result

(10, 10, 0, None)

#  매개변수(parameter) 선언의 여러가지 문법

###  Positional Parameter(Argument)
- 매개변수를 순서대로 나열한것.
    - ex) def my_func(a, b, c):
    - Parameter = Argument (Paramer라는 변수에 Argument란 값을 담는다.)
- 호출할때 각 파라미터에 전달할 값을 순서대로 나열한다. 전달할 값을 생략할 수 없다.
    - ex) my_func(10, 20, 30) a<=10, b<=20, c<=30
    - ex) my_func(10, 20) c에 전달할 값이 없으므로 Error.
    
### 기본값이 있는 매개변수

- 매개변수를 선언할 때 값을 대입한다.

- 기본값이 있는 매개변수

    - ex) def my_func(a=기본값, b=기본값, c=기본값):

    - ex) print(f'이름 : {name}, 나이 : {age}, 키 : {tall}')

    

### Keyword Parameter(Argument-키워드 인자)

- 호출시 전달할 값(Argument)을 어떤 파라미터에 대입할 지 변수명을 이용해 지정할 수 있다.

    - ex) print_info2(tall=180, age=30, name="홍길동")
    
###  기본값이 없는 Parameter와 기본값이 있는 Parameter 같이 선언할 때
 - 기본값이 없는 Parameter들을 먼저 선언해야한다.
 
 ##  가변인자
- def 함수명(*변수명) => 0 ~ n개의 argument 값들을 튜플로 묶어서 받는다.
- 관례적으로 변수명은 args
- args 가 리스트일 경우 리스트를 벗길때는 *argus 이렇게

- def sum_nums2(*num_list):
- nums = [10, 20, 30, 40, 50]
- sum_nums2(*nums) # 리스트의 원소들을 풀어서 전달 sum_num2(10,20,30,40)

- def 함수명(**변수명)
    - 호출할 때 keyword 인자 형태로 전달하고 가변인수는 이것을 dictionary로 처리한다.
    - 관례적으로 변수명은 kwargs 로 준다.
    
##  가변인자
- 하나의 함수 정의당 가변인자는 각각 한개씩만 가능.
- 가변인자와 일반 매개변수를 같이 선언할 경우 일반 매개변수를 먼저 선언해야 한다.
- 변수명 관례 : \*args, \*\*kwargs

###  Positional Parameter(Argument)
- 매개변수를 순서대로 나열한것.
    - ex) def my_func(a, b, c):
    - Parameter = Argument (Paramer라는 변수에 Argument란 값을 담는다.)
- 호출할때 각 파라미터에 전달할 값을 순서대로 나열한다. 전달할 값을 생략할 수 없다.
    - ex) my_func(10, 20, 30) a<=10, b<=20, c<=30
    - ex) my_func(10, 20) c에 전달할 값이 없으므로 Error.

In [233]:
def print_info(name, age, tall):
    print(f'이름 : {name}, 나이 : {age}, 키 : {tall}')

In [234]:
print_info('홍길동', 20, 175.8)

이름 : 홍길동, 나이 : 20, 키 : 175.8

In [235]:
print_info(30, 180, '이순신')

이름 : 30, 나이 : 180, 키 : 이순신

In [236]:
# print_info(30, 170)

### 기본값이 있는 매개변수
- 매개변수를 선언할 때 값을 대입한다.
- 기본값이 있는 매개변수
    - ex) def my_func(a=기본값, b=기본값, c=기본값):
    - ex) print(f'이름 : {name}, 나이 : {age}, 키 : {tall}')
    
### Keyword Parameter(Argument-키워드 인자)
- 호출시 전달할 값(Argument)을 어떤 파라미터에 대입할 지 변수명을 이용해 지정할 수 있다.
    - ex) print_info2(tall=180, age=30, name="홍길동")

In [237]:
def print_info2(name=None, age=None, tall=None):
    print(f'이름 : {name}, 나이 : {age}, 키 : {tall}')

In [238]:
print_info2("이순신", 35, 177.7)

이름 : 이순신, 나이 : 35, 키 : 177.7

In [239]:
print_info2("홍길동") #name = 홍길동, age, tall은 기본값

이름 : 홍길동, 나이 : None, 키 : None

In [240]:
# 키워드 인자
print_info2(tall=180, age=30, name="홍길동")

이름 : 홍길동, 나이 : 30, 키 : 180

###  기본값이 없는 Parameter와 기본값이 있는 Parameter 같이 선언할 때
 - 기본값이 없는 Parameter들을 먼저 선언해야한다.

In [241]:
# 기본값이 없는 Parameter : 필수
# 기본값이 있는 Parameter : 옵션
def print_info3(name, age, address, tall=None, weight=None):
#     if tall == None
    
    print(f'이름 : {name}, 나이 : {age},  주소 : {address}, 키 : {tall}, 몸무게 : {weight}')

In [242]:
print_info3("홍길동", 20, "서울")

이름 : 홍길동, 나이 : 20,  주소 : 서울, 키 : None, 몸무게 : None

##  가변인자
- def 함수명(*변수명) => 0 ~ n개의 argument 값들을 튜플로 묶어서 받는다.
- 관례적으로 변수명은 args
- args 가 리스트일 경우 리스트를 벗길때는 *argus 이렇게

In [1]:
# 리스트를 받아서 총 합계를 구하는 함수
def sum_nums(num_list):
    print(num_list)

In [2]:
sum_nums([1, 3, 4, 5, 6])

[1, 3, 4, 5, 6]

In [5]:
def sum_nums2(*num_list):
    # 튜플로 처리한다.
    print(num_list)
    print(type(num_list))
    print(len(num_list))

In [6]:
nums = [10, 20, 30, 40, 50]

In [7]:
sum_nums2(nums) # 리스트 1개를 전달                 sum_num2([10,20,30,40])
sum_nums2(*nums) # 리스트의 원소들을 풀어서 전달    sum_num2(10,20,30,40), tuple, list

([10, 20, 30, 40, 50],)
<class 'tuple'>
1
(10, 20, 30, 40, 50)
<class 'tuple'>
5

In [248]:
sum_nums2(nums)

([10, 20, 30, 40, 50],)
<class 'tuple'>
1

In [249]:
sum_nums2()

()
<class 'tuple'>
0

In [250]:
sum_nums2(1, 2, 3)

(1, 2, 3)
<class 'tuple'>
3

In [251]:
sum_nums2(1, 2, 3,4, 5, 6, 7, 8, 9)

(1, 2, 3, 4, 5, 6, 7, 8, 9)
<class 'tuple'>
9

- def 함수명(**변수명)
    - 호출할 때 keyword 인자 형태로 전달하고 가변인수는 이것을 dictionary로 처리한다.
    - 관례적으로 변수명은 kwargs 로 준다.

In [252]:
def person_info(**info):
    print(info)
    print(type(info))

In [262]:
d = {
    "id" : "id-1",
    "password" : "1111",
    "name": "윤우상",
}

In [270]:
person_info(**d) # ** 딕셔너리
# person_info(id ='id-1', password = '1111', name = '윤우상')

{'id': 'id-1', 'password': '1111', 'name': '윤우상'}
<class 'dict'>

In [253]:
# person_info("홍길동", 20) => Error
person_info(name = "홍길동", age =20)

{'name': '홍길동', 'age': 20}
<class 'dict'>

In [254]:
person_info()

{}
<class 'dict'>

In [255]:
person_info(name="이순신")

{'name': '이순신'}
<class 'dict'>

In [256]:
person_info(name="이순신", age=20, address="서울", tall=180, weight=70)

{'name': '이순신', 'age': 20, 'address': '서울', 'tall': 180, 'weight': 70}
<class 'dict'>

##  가변인자
- 하나의 함수 정의당 가변인자는 각각 한개씩만 가능.
- 가변인자와 일반 매개변수를 같이 선언할 경우 일반 매개변수를 먼저 선언해야 한다.
- 변수명 관례 : \*args, \*\*kwargs

In [257]:
def test(a, b, *args):
# def test(a, b, *args, *args2): #같은 종류의 가변인자를 2개 이상 선언할 수 없다.
    print(a, b, args)

In [258]:
test(1, 2, 3, 4, 5, 6, 7)

1 2 (3, 4, 5, 6, 7)

In [259]:
def test2(*args, **kwargs):
    print(args)
    print(kwargs)

In [260]:
test2(1, 2, 3, 4, 5, name="이름", address="주소")

(1, 2, 3, 4, 5)
{'name': '이름', 'address': '주소'}

##  변수의 유효범위(Scope)

In [293]:
def my_func():
    # 함수내에서 선언된 변수 : 지역변수 (Local Variable) => 함수내부에서만 사용가능
    x = 10
    print(x)

In [294]:
my_func()

10

In [300]:
var = 1000

print(var)

1000

In [308]:
def test_func3():
    global var # 이제부터 var에 값을 대입하는 것은 전역변수 var에 하는 것이다.
    var = 200 # 전역변수 var의 값을 재할당
    print(var)

In [309]:
test_func3()

200

In [314]:
print(var)

200

In [310]:
def test_func2():
    print(var)

In [311]:
test_func2()

200

In [315]:
def test_func():
    var = 50 # 지역 변수와 전역 변수의 변수명은 다른게 하는게 좋다
    print(var)

In [313]:
test_func()
print(var)

50
200

## 함수(Function)는 일급 시민 객체(First class citizen object)

### 일급시민객체(값)
- 변수에 대입할 수 있는 값(type). 
- 함수 호출시 매개변수로 전달할 수 있는 값(type). (argument)
- 함수의 반환값으로 사용할 수 있는 값(type).

In [321]:
a = 10 # 정수(int)
def test_func(num):
    print(num)
    return 10   # int를 반환값

In [322]:
i = test_func(10) # int 10을 argument
print(i)

10
10

In [323]:
# int(정수)는 일급시민객체

In [325]:
# 함수의 이름 : hello
def hello():
    print("안녕하세요")

In [326]:
hello()

안녕하세요

In [327]:
hello()

안녕하세요

In [328]:
my_hello = hello

In [329]:
my_hello()

안녕하세요

In [332]:
your_hello = hello
your_hello()

안녕하세요

In [333]:
def plus(num1, num2):
    return num1 + num2 # 리턴값이 있는 함수.

In [335]:
v = plus(1, 2) #plus함수를 호출해서 반환된 값을 변수 v에 넣어라.
print(v)

3

In [336]:
v2 = plus # plus 함수 자체를 v2에 대입

In [338]:
v2(10, 20)

30

In [339]:
plus(10, 20)

30

In [340]:
print(plus(1, 2))

3

In [341]:
print(plus)

<function plus at 0x00000000050620D0>

In [346]:
def wrapper(f):
    a = f(10, 100)
    print(a)

In [347]:
wrapper(plus) # f = plus

110

In [348]:
def plus(num1, num2):
    return num1 + num2 # 리턴값이 있는 함수.

In [ ]:
def minus(num1, num2):
    return num1 - num2

In [ ]:
def multiply(num1, num2):
    return num1 * num2

In [353]:
def calculate(func):
    #n1, n2를 어떻게 처리할지 매개변수(func)를 통해서 함수로 받는다.
    n1 = 10
    n2 = 20
    result = func(n1, n2)
    print(result)

In [404]:
# def calculate1(n):
#     #n1, n2를 어떻게 처리할지 매개변수(func)를 통해서 함수로 받는다.
#     n1 = 10
#     n2 = 20
#     result = func(n1, n2)
#     print(result)

In [405]:
# calculate1(10, key=multiply)

In [354]:
calculate(plus)

30

In [357]:
calculate(minus)

-10

In [358]:
calculate(multiply)

200

In [368]:
# 튜플을 받아서 index 0의 값을 반환
def get_key(tu):
    return tu[1]

In [372]:
get_key((1, 6, 3)), get_key((10, 2, 3))

(6, 2)

In [370]:
lst = [
    (1, 2, 3),
    (10, -10, 5),
    (0, 100, 1),
]

In [371]:
# sorted(iterable, key=함수) 정렬 : 오름/내림차순
# 원소 하나 하나를 함수의 매개변수에 전달. 그 함수가 반환하는 값을 기준으로 정렬

In [374]:
sorted(lst) #오름차순

[(0, 100, 1), (1, 2, 3), (10, -10, 5)]

In [387]:
sorted(lst, key=get_key) # key = 정렬의 기준 값

[(10, -10, 5), (1, 2, 3), (0, 100, 1)]

In [377]:
lst[0]

(1, 2, 3)

In [388]:
get_key(lst[1]) # 0:2, 1:-10, 2:100

-10

In [380]:
def tu_sum(tu):
    return sum(tu)

In [381]:
tu_sum((1,2,3,4,5))

15

In [385]:
sorted(lst, key=tu_sum)

[(10, -10, 5), (1, 2, 3), (0, 100, 1)]

In [386]:
sorted(lst, key=tu_sum, reverse=True)

[(0, 100, 1), (1, 2, 3), (10, -10, 5)]

###  람다표현식(람다식 - Lambda Expression)
- 단일 구문으로 표현하는 익명함수
    - 익명함수 : 이름(함수선언)없이 구현만 가지고 있는 함수 표현식
- 일회성 사용 함수를 만들때 주로 사용.
    - 함수호출시 매개변수에 함수를 전달할 때 많이 사용.
- 구문
```python
lambda [매개변수] : 실행문
```
- 실행문 : 하나의 구문만 가능. 실행문의 처리결과를 자동으로 반환한다.(리턴 구문 필요없다.(생략))

In [406]:
def plus(num1, num2):
    return num1 + num2

In [408]:
# lambda num1, num2 : num1 + num2

In [ ]:
def calculate(func):
    n1 = 10
    n2 = 20
    result = func(n1, n2)
    print(result)

In [414]:
calculate(lambda num1, num2: num1 + num2)
calculate(func = lambda num1, num2: num1 - num2)
calculate(lambda num1, num2: num1 * num2)
calculate(func = lambda num1, num2: num1 / num2)

30
-10
200
0.5

In [415]:
calculate(lambda x, y : x+y)

30

In [416]:
lst = [
    (1, 2, 3),
    (10, -10, 5),
    (0, 100, 1),
]

In [418]:
# 튜플들의 총합을 기준으로 sorting
sorted(lst, key=lambda t: t[0])

[(0, 100, 1), (1, 2, 3), (10, -10, 5)]

In [ ]:
def tu_sum(tu):
    return sum(tu)

lambda tu:sum(t)

In [11]:
d = {
    "id" : "id-1",
    "password" : "1111",
    "name": "윤우상",
}

In [22]:
d_split = lambda **x : d

In [30]:
print(d_split())

{'id': 'id-1', 'password': '1111', 'name': '윤우상'}

In [31]:
str_list = ['adasd', 'dsfngfhdhdfa', 'sf0oinidifdas', 'idnikuj']
sorted(str_list)

['adasd', 'dsfngfhdhdfa', 'idnikuj', 'sf0oinidifdas']

In [32]:
sorted(str_list, key=lambda x: len(x))

['adasd', 'idnikuj', 'dsfngfhdhdfa', 'sf0oinidifdas']

In [33]:
def check_length(s):
    return len(S)

In [35]:
sorted(str_list, key=len)

['adasd', 'idnikuj', 'dsfngfhdhdfa', 'sf0oinidifdas']

In [36]:
# dictionary 정렬
dic = {
    'b':100, 
    'a':200,
    'c':50
}

In [39]:
sorted(dic) #key 값들을 정렬한 뒤 리스트로 반환.

['a', 'b', 'c']

In [47]:
# value를 기준으로 정렬을 하려는 경우. (전제 : value의 데이터 타입이 동일한 경우.)
result = sorted(dic.items(), key=lambda x: x[1])
sorted_dic = {k:v for k, v in result}
sorted_dic

{'c': 50, 'b': 100, 'a': 200}

In [48]:
dic.items()

dict_items([('c', 50), ('b', 100), ('a', 200)])

In [49]:
dic.values()

dict_values([50, 100, 200])

In [50]:
dic.keys()

dict_keys(['c', 'b', 'a'])

- filter(함수, iterable한 type) : iterable의 원소들 중에서 특정 조건을 만족하는 원소들만 걸러주는 함수.
    - 함수 : bool 값을 반환, 매개변수는 1개
    - iterable의 원소 하나 하나를 함수의 매개변수로 전달. 함수가 True를 반환하는 원소만 반환.
    
- map(함수, iterable한 type) : iterable의 원소들 하나하나를 처리해서 그 처리결과를 반환( 처리하는 방법을 함수)
    - 함수 : 어떻게 처리할지를 정의. 매개변수 1개, 반환값을 원소로 처리한 결과.

- filter/map함수의 반환타입은 iterable한 타입(generator)

In [69]:
num_list = list(range(1, 11))
num_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [78]:
# num_list의 각각의 값들(원소들)을 10배한 값을 반환.
m = map(lambda x:x*10, num_list) # mapping은 전부 바꿔서 반환
m_lst = [i*10 for i in numlist]

f = filter(lambda x: x%10 == 0, num_list) # filtering은 일부 분류에서 반환
f_lst = [i for i in num_list if i%10 == 0]

In [79]:
for i in range(1):
    print(m)

<map object at 0x0000000004FF1CD0>

In [67]:
num_list = list(range(100))
# 10의 배수만 걸러내기
f = filter(lambda x: x%10 == 0, num_list)
f_list =[i for i in f]
print(f_list)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [68]:
f_lst = [i for i in num_list if i%10 == 0]
print(f_lst)

f = filter(lambda x: x%10 == 0, num_list)
f_list =[i for i in f]
print(f_list)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

## docstring
- 함수/class에 대한 설명
- 함수선언부와 구현부 사이에 여러줄 짜리 문자열 ("""  """)로 작성한다.
- 함수가 하는 역할, 매개변수 설명, 리턴값 설명(원하는대로 성명)

In [91]:
def print_info(name, age, address):
    """
    회원 정보를 출력하는 함수
    info1 
    info2 
    [parameter]
        name : str - name of member
        age : int - age of member
        address : str - address of member
    [return]
        int : 나이의 10 곱한값
    """
    print("이름: {0}, 나이: {1}, 주소: {2}".format(name, age, address))
    return age*10

In [84]:
print_info # shift + tab

### pass 키워드(예약어)
- 코드블럭을 하는일 없이 채울때.

In [86]:
def test():
    pass
    # 구현은 나중에

In [88]:
if False:
    pass

In [89]:
for i in range(10):
    pass

In [90]:
while False:
    pass

In [174]:
# 1. 사용자가 입력한 단의 구구단을 출력하는 함수를 구현
def gugudan():
    n = int(input("단 :"))
    for i in range(1, 10):
        print("{0} x {1} = {2}".format(n, i, n*i))
        
gugudan()

단 :3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [143]:
# 2. 시작 정수, 끝 정수를 받아 그 사이의 모든 정수의 합을 구해서 반환하는 함수를 구현
def total_sum():
    n1 = int(input())
    n2 = int(input())
    ret = 0
    for i in range(n1, n2+1):
        ret +=i
    return ret
    
print(total_sum())

3
6
18

In [185]:
def accumulate(start, end):
    """
    시작 정수부터 종료정수 정수에 포함된 모든 정수의 합계를 계산해서 반환.
    [매개변수]
        start : int - 시작정수
        end : int - 종료정수
    [반환값]
        int : 총합계
    
    """
    ret = 0
    for i in range(start, end+1):
        ret += i
    return ret

print(accumulate(1, 10))

55

In [187]:
def accumulate2(start, end):
    return sum(range(start, end+1))

accumulate2(1, 10)

55

In [175]:
# 3. 2번 문제에서 시작을 받지 않은 경우 0을, 끝 정수를 받지 않으면 10이 들어가도록 구현을 변경
# def gugudan(n):
    
#     for i in range(1, 10):
#         print("{0} x {1} = {2}".format(n, i, n*i))
        
def total_sum(start=None, end=None):
#     n1 = int(input("시작 숫자를 입력하세요 : "))
#     n2 = int(input("끝 숫자를 입력하세요 : "))
    
    ret = 0
    if start == None:
        ret = 0
    elif end == None:
        ret = 10
    else:
        for i in range(start, end+1):
            ret +=i
    return ret
    

print(total_sum(start = 3))
print(total_sum(end = 6))
print(total_sum(3, 6))

10
0
18

In [190]:
def accumulate3(start=0, end=10):
    return sum(range(start, end+1))

accumulate3(1)

55

In [192]:
def accumulate4(*values):
    return sum(values)
accumulate4(1, 10, 20, 5, 10)

46

In [217]:
# 4. 체질량 지수(體質量指數, Body Mass Index, BMI)는 비만도를 나타내는 지수로 키가 a미터 이고 몸무게가 b kg일때 b/a**2 로 구한다.
# 체질량 지수가
#- 18.5 미만이면 저체중
#- 18.5이상 25미만이면 정상
#- 25이상이면 과체중
#- 30이상이면 비만으로 하는데
#몸무게와 키를 매개변수로 받아 비만인지 과체중인지 반환하는 함수를 구현하시오.
# 람다식
def bmi_func(a, b):
    bmi = lambda a, b: b/(a/100)**2
    
    ret = None
    if bmi(a, b) >= 30:
        ret = "비만"
    elif bmi(a, b) >= 25:
        ret = "과체중"
    elif bmi(a, b) >= 18.5:
        ret = "정상"
    else:
        ret = "저체중"
    return bmi(a,b), ret

In [218]:
bmi_func(170, 54)

(18.68512110726644, '정상')

In [219]:
def check_bmi(tall, weight):
    """
    BMI 지수를 계산해서 비만도를 반환
    [매개변수]
        tall : double - 키(미터)
        weight : double - 몸무게(kg)
    [반환값]
        str : 비만도(저체중, 정상, 과체중, 비만)
    """
    bmi = weight/(tall**2)
    result = None
    if bmi < 18.5:
        result = "저체중"
    elif bmi < 25:
        result = "정상"
    elif bmi < 30:
        result = "과체중"
    else:
        result = "비만"
    return bmi, result

In [220]:
r = check_bmi(1.7, 54)
print(r)

(18.68512110726644, '정상')

In [158]:
#5. filter를 이용해 다음 리스트에서 양수만 추출히 리스트를 구현
ex1 = [1, -10, -2, 20, 3, -5, -7, 21]
fil_lst = list(filter(lambda x: x>=0, ex1))
print(fil_lst)

[1, 20, 3, 21]

In [163]:
#6. filter와 map을 이용해 다음 리스트에서 음수만 추출한 뒤 그 제곱한 값들을 가지는 리스트를 구현
ex2 = [1, -10, -2, 20, 3, -5, -7, 21]
result_lst = list(map(lambda x: x**2, filter(lambda x: x<0, ex2)))
print(result_lst)

[100, 4, 25, 49]