# oracle (SQL)_DML

## DML - (insert, update, delete, select)
- 조회하는거 위주로 본다.

###  1. 데이터 삽입- (insert)
- insert 기본구문
    - ``insert into 테이블 이름 (컬럼명, 컬럼명 [,...[) values(값1, 값2 [,..])``
    - ex) insert into deptartment(department_id, department_name, location) valuse(100, '기획부', '서울')
- insert는 한 행(row, 레코드)씩 처리한다.
- **문자열**의 경우 삽입할 값을 **`' '`(작은따음표)** 로 감싸준다.
- 날짜는 형태에 맞게 문자열로 넣어준다. ( `-` or `/`로 구분해서 넣는다.) yyyy/mm/dd
- 테이블의 모든 컬럼에 데이터를 넣을 경우 컬럼 항목을 생략할 수 있다.
    - 특정 컬럼에만 넣을 때는 생략 XX
   
### 2.update

### 3. 조회 - (select)
- select 기본구문 (순서 지키기)
```python
select [distinct] 칼럼명 [별칭][,칼럼명2,..] --- 필수
from 테이블 이름 [별칭]                      --- 필수
[where 제약조건]                            --- 거의 들어감
[group by 그룹화할 기준 컬럼]
[having 조건]
[order by 정렬기준컬럼 [asc|desc]]
```
- 항목
    - `select` : 조회할 컬럼들 지어. 모든 컬럼 조회시 `*`. (distinct : **유일값**원하는 값만)
    - `from` : 조회할 컬럼들을 가진 테이블이름
    - `where` : 조회할 row을 찾기 위한 제약 조건을 넣는다.
    - `group by` : group으로 묶어서 조회할 때 묶을 조건이 될 컬럼들 지정
        - **그룹함수**와 연결되어 사용
    - `having` : 그룹함수로 조회한 결과에 조건을 줄 때 사용
    - `order by` : 조회결과 정렬을 위한 옵션(`ASC`:오름차순(Default). `DESC`:내림차순)
    

- 연산자 
     - 연산은 그 컬럼의 모든 값들에 일률적으로 적용, 같은 컬럼을 여러번 조회할 수 있다.

    - 산술연산: `+`, `-`, `*`, `/`,    `mod(n, m)` == n%m
        - 피연산자 중 null이 있으면 결과는 무조건 null. null + 10=>null
            - null: 값이 없다. 모르는 값.
    
    - date타입값 +/- 정수 : day(일)을 +/-,  오늘날짜 + 5: 5일후 날짜, 오늘날짜 - 5 : 5일전 날짜 
    
    - 파생컬럼 : 기존에 있던 데이터를 이용해 새로운 데이터를 만드는 컬럼
    
    - 컬럼 * 컬럼 : 행단위로 계산
    
    - sysdate : 실행시점의 일시를 반환. 반환타입: date
    
    - 연결연산자: 문자열을 붙이는 연산자.  || => 모든타입을 다 붙일 수 있다.
        ex) '$'||salary

### 3-1 where 절

- 행을 선택해 조건에 맞는 컬럼의 data 가져오기

    - 연산자
        - `and`, `or`
        - `=`, (`<>`, `!=`), `>`, `<`, `>=`, `<=`
        - `between` a `and` b
        - `in (list)`
        - `like` 
        - `is null`
        - `not`

- exstract(year|month|day from date) : date에서 year, month, day만 추출

- where 조건이 여러개일 경우
(and, or)

- 연산 우선순위 : and > or!!

### 3-2 order by절
- order by를 이용한 컬럼 기준 정렬

- select문에 가장 마지막에 오는 구절.

- order by 정렬기준컬럼 정렬방식 [, 정렬기준컬럼 정렬방식,...]
	- 같은 값이 있을 때는 2차 정렬을 해준다.

- 정렬기준컬럼
	- 컬럼이름.
	- select절에 선언된 순서.
	- 별칭이 있을 경우 별칭.

- 정렬방식
	- `asc` : 오름차순 (기본-생략가능)
	- `desc` : 내림차순

- 문자열: 특수문자 < 숫자 < 대문자 < 소문자 < 한글 < null

- date : 과거 < 미래	

- NULL 값 => 오라클 문법(다른 SQL은 적용 안됨)
    - nulls first, nulls last ==> 오라클 문법.
    - ASC : 마지막.  order by 컬럼명 asc nulls first
        - order by dept_name asc nulls first;
    - DESC : 처음.   order by 컬럼명 desc nulls last
        - order by dept_name desc nulls last;
```python
##방법 1
select  emp_id,
        emp_name,
        job, 
        salary
from    emp
order by job asc, salary desc;
```
```python
##방법 2
select  emp_id,
        emp_name,
        job, 
        salary
from    emp
order by 3 asc, 4 desc; 
# select 절의 3번째(job), 4번째(salary) 컬럼기준 정렬. 
#***테이블의 컬럼순서가 아니라 select절에 선언한 컬럼순서
```
```python
##방법 3
select  emp_id "직원ID",
        emp_name "이름",
        job "업무",
        salary "급여"
from    emp
order by "업무" asc, "급여" desc; # 컬럼의 별칭을 사용할 수 있다.
```